[submodule "vendors/filecoin-ffi"]
	path = vendors/filecoin-ffi
	url = https://github.com/sbwtw/filecoin-ffi.git
[submodule "vendors/filecoin-ffi-origin"]
	path = vendors/filecoin-ffi-origin
	url = https://github.com/filecoin-project/filecoin-ffi.git
